PORT=3000

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=petradar

MAILER_SERVICE=gmail
MAILER_EMAIL=tu_correo@gmail.com
MAILER_PASSWORD=tu_clave_de_aplicacion_de_16_caracteres
MAPBOX_TOKEN=tu_token_de_mapbox
